* {
	-webkit-box-sizing: border-box;
   	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


html {
    font-family: 'Reem Kufi', sans-serif;
    font-size: 100%;
    font-size: 1em;
    line-height: 1;
    height: 100%;
    margin: 0% 2.5% 2.5% 2.5%;

}

header{
	background-color: #EB7F8F;
	color: #FBDBA8;
	padding: 2px;
	margin-bottom: 2px;
	min-height: 100%;
	border-bottom: #000000 2px solid;
}

#nav {
	list-style-type:none;
	margin-top: 5em;
	margin-bottom: 1em;

}

#nav li {
	display: inline;
}

#nav a {
	display:inline;
	text-align:center;
	padding: 1em;
	color: #FBDBA8;
	background-color: #9A8822;
	text-transform: uppercase;

}

#branding {
	margin-top: 5em;
	margin-bottom: 1em;
	text-align: right;
	padding-right: 4%;
}

#branding h1 {
	font-size: 3vw;
}

#branding h2 {
	font-size: 2vw;
}








/* Header 
====================*/



