* {
	-webkit-box-sizing: border-box;
   	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


html {
    font-family: 'Reem Kufi', sans-serif;
    font-size: 1em;
    line-height: 1;
    margin: 0;

}
#homepage {
	background-image: url("img/zebra.jpg");
	
	
}

#nav {
	list-style-type:none;
	margin-top: 5em;
	margin-bottom: 1em;

}

#nav li {
	display: inline;
}

#nav a {
	display:inline;
	text-align:center;
	padding: 1em;
	color: #FBDBA8;
	background-color: #9A8822;
	text-transform: uppercase;
	text-decoration: none;

}

#branding {
	margin-top: 5em;
	margin-bottom: 1em;
	text-align: right;
	padding-right: 4%;
}

#branding h1 {
	font-size: 3vw;
}

#branding h2 {
	font-size: 2vw;
}


#showcase {
	min-height: 400px;
	height: 100%;
	background-position: center;
	text-align: center;
	color: #f06292;
	opacity: 1.0;
	


}

#showcase p {
	font-size: 20px;

}

.bus-img {
	height: 667px;
	width: 1280px;
}



/* Header 
====================*/



