* {
	-webkit-box-sizing: border-box;
   	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


html {
    font-family: 'Reem Kufi', sans-serif;
    font-size: 100%;
    font-size: 1em;
    line-height: 1;
    height: 100%;
    margin: 2.5%;

}

header{
	background-color: blue;
	color: #ffffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #000000 5px solid;
}

header nav ul li {
	float: center;
	display: inline-block;
	padding: 0 20px 0 20px;
}





/* Header 
====================*/



